<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp-
                %msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        // Spring 3.1 버전 이상부터
        // level =>  "INFO" : 기본값 (log X), DEBUG => log 표기
        <appender-ref ref="STDOUT" />
    </root>
</configuration>